.sticky-navbar{
    position: fixed;
    top: 0;
}
.navbar_component {
    width: 100%;
    height: 60px;
    background-color: #131A22;
    display: flex;
}
.navbar_logo{
    background: url('https://ik.imagekit.io/zefo833xz/amazon-image/amazon-image/sprite_350x.png?updatedAt=1687788856633') no-repeat -9px -50px;
	width: 98px;
	height: 31px;
    margin: 18px;
}
.navbar_locator {
    display:flex;
    margin: 20px 0px;
}
.navbar_location {
    color: white;
    font-weight: bold;
    margin-left: 5px;
}
.navbar_locatorImage{
    background: url('https://ik.imagekit.io/zefo833xz/amazon-image/amazon-image/sprite_350x.png?updatedAt=1687788856633') no-repeat -70px -340px;
	width: 19px;
	height: 21px;
}
.navbar_searchcomponent {
    display:flex;
    margin-left: 72px;
}
.navbar_seaarchboxdiv {
    background-color: #FEBE68;
    height: 44px;
    width: 48px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 8px;
}
.navbar_searchbox{
    width: 45vw;
    height: 38px;
    margin-top: 8px;
}
.navbar_searchicon {
    background: url('https://ik.imagekit.io/zefo833xz/amazon-image/amazon-image/sprite_350x.png?updatedAt=1687788856633') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 12px;
}
.nav_dropdown {
    width: 60px;
    height: 44px;
    margin-top: 8px;
    background-color: #e6e5e5;
    border-radius: 5px 0px 0px 5px;
    text-align-last: center;
}
.navbar_signin{
    width: 120px;
    margin-top: 13px;
    margin-left: 60px;
}
.navbar_returns {
    width: 80px;
    margin-top:13px;
    margin-left:10px
}
.navbar_cart {
    display:flex;
    margin-top: 15px;
}
.navbar_text {
    color: white;
}
.cart_image {
    background: url('https://ik.imagekit.io/zefo833xz/amazon-image/amazon-image/sprite_350x.png?updatedAt=1687788856633') no-repeat -217px -336px;
    width: 43px;
	height: 30px;
}
.navbar_text_cart {
    margin-top: 13px;
    font-weight: bold;
    position: relative;
    left: -10px;
}
.cart_item {
    font-weight: bold;
    position: relative;
    left: -23px;
    top: -3px;
    color: #F08805;
}
.navbar_footer {
    width: 100%;
    height: 30px;
    background-color: #22303E;
    color: white;
    display: flex;
    margin-top: 60px;
}
.navbar_footer_text {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
