.AdvertisementOne_main {
    /* height: 60vh; */
    height: 380px;
    min-width: 317px;
    /* min-width: 23vw; */
    background: white;
    margin: 10px;
}
.AdvertisementOne_header {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding:15px
}
.AdvertisementOne_body {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
}
.ad_fourImage {
    /* width: 10vw; */
    width: 133px;
    height: 100px;
    /* height: 16vh; */
    margin: 5px;
}
.AdvertisementOne_footer {
    padding: 15px;
}